.item {
    margin-left: 115px;
}

.table {
    width: 90%;
}

.choice:hover {
    background: #DADADA;
    cursor: pointer;
}

.textForm span {
    font-weight: bold;
}

.inputForm {
    margin-top: 10px;
    margin-bottom: 10px;
}