.users {
    margin-top: 80px;
    /*text-align: center;*/
}

.users h1 {
    width: 35%;
    display: inline-block;
    margin-left: 115px;
}

.container {
    width: 552px;
    margin: 40px auto;
}

